$sansFontFamily: 'Lato', sans-serif;
$bodyBackground:  #F6F8F8;
//$light-grey : #ECEFF1;
$light-grey : #E0DFDC;
//$purple : #6D3C81;
$purple : #58457A;
$light-purple : #6A5A8C;
$yellow : #F1C40F;
$navbarLinkBackgroundActive : #58457A;
$navbarLinkColorActive : $yellow;
$fontAwesomePath:   "../fonts" ;
$dark-grey: #34495E;
$red: #c0392b;
$tooltipBackground: #c0392b;

